@media (hover: none) {
  button:hover {
    background-color: inherit !important;
  }
}

html, body {
  overflow: hidden;
  height: 100%;
}

body {
  touch-action: manipulation;
  font-family: Helvetica, sans-serif;
  background: linear-gradient(to bottom, #000000, #000000);
  color: #fff;
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2.8em;
  color: #f3bb21;
  margin-top: -100px;
  margin-bottom: 20px;
}

#operation {
  font-size: 2.5em;
  margin: 20px 0;
  font-weight: bold;
  transition: opacity 0.5s ease;;
}

#operation.fade-out {
  opacity: 0;
}

#operation.fade-in {
  opacity: 1;
}

input[type="text"] {
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 8px;
  width: 150px;
  text-align: center;
  margin-bottom: 10px;
}

button {
  background-color: #202020;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 8px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s;
}

button:hover {
  background-color: #3b3b3b;
  transform: scale(1.05);
}

#answer-display {
  font-size: 2em;
  color: #ffffff;
  border: 2px solid #f3bb21;
  padding: 10px;
  margin: 10px auto;
  width: 120px;
  text-align: center;
  border-radius: 8px;
}

#genOp {
  padding: 15px;
  font-size: 1.5em;
}

#player-input {
  display: grid;
  grid-template-columns: 100px 100px;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

#custom-keyboard {
    display: grid;
    grid-template-columns: repeat(3, 80px) 80px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    max-width: 420px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #131313;
}

#custom-keyboard button {
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
    background: #202020;
    color: #ffffff;
    cursor: pointer;
    transition: background 0.3s;
    margin: 0;
}

#custom-keyboard button:hover {
    background: #3b3b3b;
}

#custom-keyboard button:nth-child(10) {
    grid-column: span 2;
}

#custom-keyboard button:nth-child(12),
#custom-keyboard button:nth-child(13),
#custom-keyboard button:nth-child(14) {
    grid-column: 4;
}

#custom-keyboard button:nth-child(12) {
    grid-row: 1;
    padding: 20px;
}

#custom-keyboard button:nth-child(13) {
    grid-row: 2 / span 2;
    padding: 55px 20px;
    font-size: 1.5em;
}

#custom-keyboard button:nth-child(14) {
    grid-row: 4;
    padding: 20px;
}

#answer {
    display: block;
    margin: 0 auto;
}

#result {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  line-height: 40px;  
  transition: opacity 0.3s ease;
}

#result.fade-in {
  opacity: 1;
}

#result.fade-out {
  opacity: 0;
}